@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*----------GENERALES--------*/
*{
    margin: 0;
    padding: 0;
}

/*----------HEADER--------*/

/*Contenedor principal*/
.container-header{
    display: flex;
    flex-flow: column wrap;
}

/*primer subcontenedor*/
.uno{
    background-color: crimson ;
    height: 10vh;
}

/*segundo subcontenedor*/
.barra{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 50%;
}

.nav ul{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav ul li{
    color: rgb(100, 98, 98);
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav ul li a{
    color: rgb(100, 98, 98);
    text-decoration: none;
}

.nav ul li a:hover{
    color: crimson;
}

.image{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    flex-basis: 50%;
}

.image img{
   height: 12vh; 
   margin-right: 2rem;
}



/*---------------MAIN-----------------*/

/*contenedor principal*/
.main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 55vh;
}

/*primer subcontenedor*/
.imagen{
    display: flex;
    flex-basis: 50%;
}

.imagen img{
    width: 90%;
}

/*segundo subcontenedor*/
.info{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 30%;
    margin-right: 3rem;
}

.titulos{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

.titulos h1{
    font-size: 17vh;  
    font-family: 'Dela Gothic One', cursive;
    text-align: end;    
}

.titulos h2{
    font-size: 5vh;
   text-align: end;
   color: rgb(100, 98, 98);
   font-weight: bold;
}

.titulos p,span{
    text-align: end;
}

.boton{
   display: flex;
   flex-flow: row;
   justify-content: flex-end;
}

.boton button{
    border-radius: 5px;
    border: transparent;
    background-color: crimson;
    flex-basis: 40%;
    height: 60%;
    margin-top: 1rem;
    color: white;
}

.redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.redes a{
    color: black;
    font-size: 2rem;
    margin: 1rem;
}

.redes a:hover{
    color: crimson;
}


/*---------------VISTA CONTACTO-----------------*/

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-top: 2px solid crimson;
}

.form{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    height: 50vh;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.form label{
    margin-top: 1rem;
}

.form input{
    border-radius: 5px;
    border: 1px solid gray;
    height: 4vh;
}

.form textarea{
    border-radius: 5px;
    border: 1px solid gray;
}

.boton-contacto{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.boton-contacto button{
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: transparent;
    text-align: center;
    height: 5vh;
    flex-basis: 30%;
}