*{
    margin: 0;
    padding: 0;
}

.container-header{
    display: flex;
    flex-flow: column wrap;
}

.uno{
    background-color: rgb(228, 37, 24);
    height: 8vh;
}

.barra{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 50%;
    
}

.nav ul{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.image{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    flex-basis: 50%;
}

.image img{
   height: 12vh; 
   margin-right: 2rem;
}



/*-------------------------------------*/
.main-container{
    display: flex;
    flex-flow: row wrap;
    background-color: violet;
    height: 55vh;
}

.imagen{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid blue;
    flex-basis: 50%;
}

.imagen img{
    width: 80%;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid blue;
    flex-basis: 48%;
}

.titulos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.boton{
    border: 1px solid black;
}

.redes{
    border: 1px solid black;
}